/*SCSS*/

@import '../scss/base/estilosGenerales';
@import '../scss/components/header';
@import '../scss/components/footer';
@import '../scss/base/variables';
@import '../scss/base/lista';
@import '../scss/base/extends';
@import '../scss/base/mixins';
@import '../scss/components/nosotros';
@import '../scss/components/queCreemos';
@import '../scss/components/media';
@import '../scss/components/contacto';

body {
    background-color: nth($colores, 5);

    .main-index {
        .contenedor-index {
            margin-top: 60px;

            .espacio {
                @include margen(20px, 20px);

                @media (max-width: 576px) {
                    .contenedor-flex {
                        @include display-mobile(flex, center, 100%);
                    }
                }

                .titulo1 {
                    @include texto(600, 25px, white);

                }

                @media (max-width: 576px) {
                    .titulo1 {
                        @include texto(600, 24px, nth($colores, 4));
                        @include display-mobile(flex, center, 100%);
                        @include margen(10px, 10px);
                    }
                }

                .parrafo {
                    @include texto(400, 16px, nth($colores, 4))
                }

                @media (max-width: 576px) {
                    .parrafo {
                        @include texto(400, 18px, nth($colores, 4));
                        @include display-mobile (flex, center, 100%);
                        text-align: center;
                    }
                }

                .enlace {
                    @extend %enlace;
                }

                @media (max-width: 576px) {
                    .enlace {
                        @include display-mobile(flex, center, 100%);
                        @include texto(600, 18px, nth($colores, 2));
                    }
                }
            }
        }
    }
}