@import '../base/variables';
@import '../base/lista';

/*FOOTER*/

footer {
    .pie {
        position: absolute;
        padding: 70px;
        background-color: nth($colores, 1);
    }

    .icono {
        background-color: nth($colores, 3);
        transition: $transicion;
        margin: 5px 5px 5px 5px;
        &:hover {
            background-color: nth($colores, 2);
        }
    }

    .estilo-ul{
        list-style: none;
        padding: 0;
    }
}