@import '../base/variables';
@import '../base/lista';
@import '../base/extends';
@import '../base/mixins';
@import '../base/mapas';

/*FOOTER*/

footer {
    .pie {
        position: absolute;
        padding: 70px;
        background-color: nth($colores, 1);

        .titulo2 {
            @include texto(600, 20px, nth($colores, 4));
        }

        .titulo3 {
            color: map-get($titulo-alt, ta-color);
            font-size: map-get($titulo-alt, ta-tam);
            font-weight: map-get($titulo-alt, ta-ancho);
        }

        @media (max-width: 576px) {
            .titulo3 {
                @include margen(15px, 0px);
            }
        }

        .estilo-ul {
            padding: 0;

            .enlace {
                @extend %enlace;
            }

            @media (max-width: 576px) {
                .enlace {
                    @include display-mobile(flex, center, 100%);
                    @include texto(600, 16px, nth($colores, 2)!important);
                }
            }

            @media (min-width: 576px) and (max-width: 992px) {
                .enlace {
                    @include display-mobile(flex, center, 100%);
                    @include texto(600, 16px, nth($colores, 2)!important);
                }
            }
        }

        .icono {
            background-color: nth($colores, 3);
            transition: $transicion;
            margin: 5px 5px 5px 5px;

            &:hover {
                background-color: nth($colores, 2);
            }
        }

        @media (max-width: 576px) {
            .icono {
                background-color: nth($colores, 2);
            }
        }

        @media (min-width: 576px) and (max-width: 992px) {
            .icono {
                background-color: nth($colores, 2);
            }
        }

    }

}