@import '../base/estilosGenerales';
@import '../base/extends';
@import '../base/lista';
@import '../base/mapas';
@import '../base/mixins';
@import '../base/variables';

body {
    background-color: nth($colores, 5);

    .main-nosotros {
        .contenedor-nosotros {
            margin-top: 80px;

            .espacio {
                @include margen(20px, 20px);

                .titulo0 {
                    @include texto(600, 30px, white);
                }

                .parrafo {
                    @include texto(400, 16px, white)
                }

                @media (max-width: 576px) {
                    .parrafo {
                        @include texto(400, 18px, nth($colores, 4));
                        @include display-mobile (flex, center, 100%);
                        text-align: center;
                    }
                }

                .contenedor-carta {

                    .borde-carta {
                        border: solid 1px nth($colores, 2);
                        background-color: nth($colores, 1);

                        .titulo-carta {
                            @include texto(600, 20px, white);
                        }

                        .parrafo-carta {
                            @include texto(400, 15px, white);
                        }

                        @media (max-width: 576px) {
                            .parrafo-carta {
                                @include texto(400, 20px, nth($colores, 4));
                            }
                        }

                        .boton-carta {
                            @extend %enlace;
                            @extend %flex;
                        }
                    }
                }

                @media (max-width: 576px) {
                    .contenedor-carta {
                        @include display-mobile (flex, center, 100%);
                        @include margen (0px, 25px);
                    }
                }
                    
                .contenedor-ubicacion{
                    .titulo1{
                        @include texto(600, 25px, nth($colores, 4));
                    }
                }

                .contenedor-horarios{
                    .titulo1{
                        @include texto(600, 25px, nth($colores, 4));
                        @include margen(20px, 0px);
                    }

                    .subtitulo{
                        @include texto(400, 20px, nth($colores, 2));
                        @include margen(20px, 0px);
                    }

                    .horario{
                        @include texto(400, 18px, nth($colores, 4));
                    }
                }

            }
        }
    }

    .enlace {
        @extend %enlace;
    }

}