@import '../base/estilosGenerales';
@import '../base/extends';
@import '../base/lista';
@import '../base/mapas';
@import '../base/mixins';
@import '../base/variables';
@import '../components/header';

body {
    background-color: nth($colores, 5);

    .main-quecreemos {
        .contenedor-quecreemos {
            margin-top: 80px;

            .espacio {
                @include margen(20px, 20px);

                .titulo0 {
                    @include texto(600, 30px, nth($colores, 4));

                }

                .contenedor-doctrina {
                    @include margen(5px, 5px);
                    @extend %flex;

                    .caja-doctrina {
                        background-color: nth($colores, 1);

                        .card-body {
                            .titulo-doctrina {
                                @include texto(600, 22px, nth($colores, 4));
                            }

                            @media (max-width: 576px) {
                                .titulo-doctrina {
                                    @include texto(600, 20px, nth($colores, 4));
                                }
                            }
            
                            @media (min-width: 576px) and (max-width: 992px) {
                                .titulo-doctrina {
                                    @include texto(600, 20px, nth($colores, 4));
                                }
                            }

                            .keyword {
                                @extend %palabra-descripcion;
                            }

                            .parrafo-doctrina {
                                @include texto(400, 18px, nth($colores, 4));
                            }

                            @media (max-width: 576px) {
                                .parrafo-doctrina {
                                    @include texto(400, 18px, nth($colores, 4));
                                }
                            }
            
                            @media (min-width: 576px) and (max-width: 992px) {
                                .parrafo-doctrina {
                                    @include texto(400, 18px, nth($colores, 4));
                                }
                            }
                        }
                    }

                }

                .parrafo {
                    @include texto(400, 20px, nth($colores, 4));
                }

                @media (max-width: 576px) {
                    .parrafo {
                        @include texto(400, 18px, nth($colores, 4));
                        @include display-mobile (flex, center, 100%);
                        text-align: center;
                    }
                }

                @media (min-width: 576px) and (max-width: 992px) {
                    .parrafo {
                        @include texto(400, 20px, nth($colores, 4));
                        @include display-mobile (flex, center, 100%);
                        text-align: center;
                    }
                }

                .enlace {
                    @extend %enlace;
                }
            }

            @media (max-width: 576px) {
                .espacio {
                    @include margen(5px, 5px);
                }
            }

            @media (min-width: 576px) and (max-width: 992px) {
                .espacio {
                    @include margen(5px, 5px);
                }
            }
        }
    }
}